In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame(index = pd.MultiIndex(levels=[[],[]],
                                        codes=[[],[]],
                                        names=[u'country', u'page']),
                  columns=['screen_name', 'location', 'location_more', 'description', 'url'])

In [17]:
df

Empty DataFrame
Columns: [screen_name, location, location_more, description, url]
Index: []

In [19]:
df.loc[('Guatemala', 'CruzRojaGT')] = ['','','','','']

ValueError: cannot set using a multi-index selection indexer with a different length than the value

In [52]:
df_meta = pd.read_excel('pilot_countries_metadata.xlsx', index_col=0)

In [54]:
df_meta['red cross name (local language)']

1         रेड क्रस
2        Red Cross
3    الصليب الاحمر
4        Cruz Roja
5       Rode Kruis
Name: red cross name (local language), dtype: object

In [66]:
df_ids = pd.read_csv('twitter_app/twitter_ids_pilot.csv', sep='|', index_col=0)
df_ids.columns

Index(['country', 'national society (english)',
       'national society (local language)', 'red cross name (local language)',
       'id', 'name', 'screen name', 'location'],
      dtype='object')

In [42]:
def is_name_in_it(row):
    ns_eng_norm = row['national society (english)'].lower().replace(" ", "")
    ns_loc_norm = row['national society (local language)'].lower().replace(" ", "")
    target_norm = row['red cross name (local language)'].lower().replace(" ", "")
    return (ns_eng_norm in target_norm or ns_loc_norm in target_norm)

In [46]:
df_ids['is_good'] = df_ids.apply(is_name_in_it, axis=1)
df_ids = df_ids[df_ids['is_good']].drop(columns=['is_good'])

In [68]:
df_ids.index = df_ids.country
df_ids = df_ids.drop(columns=['country'])

AttributeError: 'DataFrame' object has no attribute 'country'

In [72]:
df_ids.index.unique().values

array(['Nepal', 'Malawi', 'Lebanon', 'Guatemala', 'Netherlands'],
      dtype=object)